
#toolbar_layout{


  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/ezplatform-bootstrap.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/ezplatform.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/ui/ezplatform-modules.scss';

  background-color: #a8c8d5;
  font-family: "DejaVu Sans",Arial, Helvetica, sans-serif;
  line-height: 40px;
  position: fixed;
  display:flex;
  font-size: 15px !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  z-index: 100000;

  .btn{
    font-size: 1.5rem;
  }
  .toolbar__title {
    font-weight: normal;
    font-size:1.8em;
    vertical-align: bottom;
    color:  #f15a10;
    line-height: 50px;
    margin-right: 20px;

  }
  form{
    display: inline-block;
  }

  #toolbar div{
    display: inline-block;
    select {
      display: inline-block;
      margin: 0 5px;
    }
    .toolbar__button {
      display: inline-block;
      margin: 0 5px;
      background-color: #f15a10;
      border: #f15a10;
      padding: 5px;
      svg{
        width: 15px; height:15px;
      }
      &:hover {
        background-color: #cf4c0c;
        border-color: #c3480b;
      }
    }
    [disabled]{
      background-color: grey;
      &:hover {
        background-color: grey;
      }
    }
  }
  .toolbar__user_info{
    margin-left: auto;
  }

  .btn{
    height: 50px;
    width: 175px;
    margin: 4px;

  }



  .ez-extra-actions-container .ez-extra-actions {
    position: absolute;
    left: 0;
    top: 58px !important;
    bottom: auto !important;
    z-index: 2;
    opacity: 1;
    transform: translate(170px, 0px) scaleX(1);
    transform-origin: left center;
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 25rem;


  }

  .form-control, .ez-extra-actions__section-content{
    font-size: 1.5rem;
  }

   .ez-extra-actions--create {
     .form-check {
       height: 2.5rem;
       line-height: 2em;
     }

     .ez-instant-filter__group-item .ez-icon {
       fill: #333;
       position: absolute;
       top: 0;
       left: 0.5rem;
       width: 1.5rem;
       height: 1.5rem;
       margin-top: 0.1875rem;
     }
   }



  .ez-extra-actions__section-header {
    background: #e5e3e3;
    padding: 0.25rem 0 0.25rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }




  .ez-extra-actions-container .ez-extra-actions--hidden, .ez-extra-actions-container .ez-extra-actions--hidden.ez-extra-actions--edit {
    opacity: 0;
    transform: translate(calc(-100% - 100px), 50px) scaleX(0);

  }

  .ez-extra-actions-container .ez-extra-actions--edit {


    transform: translate(270px, 0px) scaleX(1);
  }

  .ez-extra-actions::after {

    height: 0.625rem;
    width: 2.5rem;
    top: 0.6rem;
    left: 0.05rem;
    transform: translate(100%, -250%);
  }

}

body {
  margin-top: 60px !important;
}

.navbar > .container, .navbar > .container-fluid {
  display: block;
}

.show{
  opacity: 1;
}



.ez-modal-wrapper{
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_custom.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/functions/calculate.rem.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/mixins/_general.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_buttons.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_icons.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_mixins.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_tables.scss';
  @import './vendor/ezsystems/ezplatform-admin-ui/src/bundle/Resources/public/scss/_modals.scss';
  .modal{
    *, ::before, ::after {
      box-sizing: border-box;
    }
    &.fade .modal-dialog{
      transform: translate(0, 25%);
    }
    font-size:1.5rem;

    .modal-dialog{


      .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #ededed;
        background-clip: padding-box;
        border: 1px solid rgba(51, 51, 51, 0.2);
        border-radius: 0.3rem;
        outline: 0;

        .ez-table-header__tools {
          height: 40px;
        }

        th, td {
          font-size: 1.5rem;
        }
      }
      .modal-header{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 1rem;
        border-bottom: 1px solid #f3f3f3;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem; }
      .modal-header .close {
        padding: 1rem 1rem;
        margin: -1rem -1rem -1rem auto; }
    }
    .ez-icon{
      width: 20px;
      height: 20px;
    }
  }
}