#toolbar_layout{
  background-color: #a8c8d5;
  font-family: "DejaVu Sans",Arial, Helvetica, sans-serif;
  line-height: 40px;
  position: fixed;
  display:flex;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  .toolbar__title {
    font-weight: normal;
    font-size:1.8em;
    vertical-align: bottom;
    color:  #f15a10;
  }
  form{
    display: inline-block;
  }

  #toolbar div{
    display: inline-block;
    select {
      display: inline-block;
      margin: 0 5px;
    }
    .toolbar__button {
      display: inline-block;
      margin: 0 5px;
      background-color: #f15a10;
      border: #f15a10;
      padding: 5px;
      svg{
        width: 15px; height:15px;
      }
      &:hover {
        background-color: #cf4c0c;
        border-color: #c3480b;
      }
    }
    [disabled]{
      background-color: grey;
      &:hover {
        background-color: grey;
      }
    }
  }
  .toolbar__user_info{
    margin-left: auto;
  }
}

body {
  margin-top: 50px !important;
}

.ez-content-edit-container__close {
  display: none;
}