{{ encore_entry_link_tags('eztoolbar-layout-css', null, 'ezplatform') }}
{#% form_theme form '@GieEzToolbar/form/toolbar_form.html.twig' %#}
<div id="toolbar_layout" class="container-fluid" >
  <span class="toolbar__title">Ez ToolBar : </span>{{ form(form, { 'action': path('gie_ez_toolbar_homepage') }) }}
</div>
